.modal-wrapper {
    display: flex;
    justify-content: center;
}

.my-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    max-height: max-content;
    width: 40%;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: lightgray;
    opacity: 1;
    z-index: 10;
    border-radius: 10%;
}

.modal-item {
    margin: 1rem;
    padding: 1rem;
    /* max-height: 20rem; */
    min-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.modal-item::-webkit-scrollbar {
    display: none;
}

.button-group {
    display: flex;
    gap: 2rem;
}